<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ISItChristmas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    {% if new_year %}
        <h1>Yes! Happy New year</h1>
    {% else %}
        <h1>NO!</h1>
    {% endif %}

</body>
</html>